.applications-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3%;
}

.jobs-container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 3%;
}

h1 {
  color: #333;
  margin-top: 1%;
}
h2 {
  color: #333;
  text-align: center;
  margin-top: 3%;
}

p {
  margin: 10px 0;
  color: #555;
}
