.job_container {
  max-width: 600px;
  margin: auto;
  margin-top: 3%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  text-align: center;
}

h1 {
  color: #333;
  text-align: center;
}

p {
  margin: 10px 0;
  color: #555;
  text-align: left;
}

.loading {
  font-style: italic;
  color: #888;
}

.employer-username {
  color: #009459;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tooltip-text {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 70%;
}

button:hover .tooltip-text {
  opacity: 1;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}
.apply-button {
  position: relative;
}
